<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon aria-hidden="true" name="grid-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions">
      <ion-icon aria-hidden="true" name="shuffle-outline"></ion-icon>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="options-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="resources">
      <ion-icon aria-hidden="true" name="help-outline"></ion-icon>
      <ion-label>Resources</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
