<ion-header>
<ion-toolbar color="primary">
<ion-title>Hi Surinder</ion-title>
<div class="header-icons"><ion-icon name="filter" ></ion-icon>  <ion-icon name="document" ></ion-icon>  <ion-icon name="notifications" ></ion-icon></div>

</ion-toolbar>
</ion-header>

<ion-content>
<ion-card color="secondary">
<ion-card-header>
  <ion-card-title>£452,657.98</ion-card-title>
  <ion-card-subtitle>Portfolio Total</ion-card-subtitle>
</ion-card-header>
<ion-card-content>
  <ion-chip color="dark">ISA</ion-chip>
  <ion-chip color="dark">GIA</ion-chip>
  <ion-chip color="dark">JISA</ion-chip>
  <ion-chip style="float:right" color="dark">More...</ion-chip>
</ion-card-content>
</ion-card>

<ion-accordion-group  class="ion-padding" [multiple]="true" [value]="['first']">
<ion-accordion *ngFor="let item of results" value='{{item}}'>
  <ion-item slot="header" color="light">
    <ion-label>{{item.PRODUCT_TYPE}}</ion-label>
  </ion-item>
  <div class="ion-padding" slot="content">
    <ion-text><sub>{{item.PRODUCT_TYPE}} | {{item.PRODUCT_TYPE}}</sub></ion-text>

    <ion-card style="margin: 20px 0;">
      <ion-card-header>
        Distribution chart
      </ion-card-header>
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>

    <div class="legends">
      <ion-chip style='width:"{{item}} + %"'>
      <ion-icon name="ellipse" color="primary"></ion-icon>
      <ion-label>{{item.PRODUCT_SHORT_NAME}}</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-icon name="ellipse" color="secondary"></ion-icon>
      <ion-label>{{item.PRODUCT_TYPE}}</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-icon name="ellipse" color="tertiary"></ion-icon>
      <ion-label>{{item.ACCOUNT_REFERENCE}}</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-icon name="ellipse" ></ion-icon>
      <ion-label>{{item.ACCOUNT_IDENTIFIER}}</ion-label>
    </ion-chip>
    </div>
    </div>
</ion-accordion>
</ion-accordion-group>

<!--app-explore-container name="Dashboard"></app-explore-container-->
</ion-content>
