<ion-header>
<ion-toolbar  color="primary">
  <ion-title>Transactions</ion-title>
  <div class="header-icons">
    <ion-icon name="filter" ></ion-icon>
    <ion-icon name="document" ></ion-icon>
    <ion-icon name="notifications" ></ion-icon>
  </div>
</ion-toolbar>
</ion-header>

<ion-content >

<ion-card color="light">
<ion-card-header>
  <ion-card-title>£67,887.09</ion-card-title>
  <ion-card-subtitle>13412738-0001</ion-card-subtitle>
</ion-card-header>
<ion-card-content>
</ion-card-content>

</ion-card>
<ion-list style="float:right; padding-right:16px; width:100%">
  <ion-item>
    <ion-select aria-label="Sort by" placeholder="Date">
      <ion-select-option value="Date">Asset name</ion-select-option>
      <ion-select-option value="Asset name">Gains</ion-select-option>
      <ion-select-option value="Gains">Losses</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
<div class="ion-padding">
  <table class="transactiontable" border="0">
    <tbody>
    <tr *ngFor="let item of results">
      <td><sup class="big"><ion-icon name="arrow-{{item.position}}" class="{{item.position}}"></ion-icon></sup></td>
      <td><sup class="big">{{item.INVESTOR_NAME}}</sup></td>
      <td><sup class="small">{{item.PRODUCT_TYPE}} </sup>
      <td><sup class="small">{{item.PRODUCT_NAME}} </sup>
      <td><sup class="big">{{item.ACCOUNT_REFERENCE}}</sup></td>
      <td><sup class="big"> {{item.EFFECTIVE_DATE | date:'dd MMM yyyy'}}</sup></td>
      <td><sup class="big">{{item.TRANSACTION_TYPE_DESCRIPTION}}</sup></td>
      <td><sup class="big">{{item.ASSET_NAME}} </sup></td>
      <td><sup class="big">{{item.UNITS | number:'1.6-6' }} </sup></td>
      <td><sup class="big">{{item.PRICE | currency }} </sup></td>
      <td><sup class="big">{{item.AMOUNT | currency }} </sup></td>
      <td><sup class="big">{{item.TOTAL_CHARGE_AMOUNT | currency }} </sup></td>
      <td><sup class="big">{{item.TOTAL_DISCOUNT_AMOUNT | currency }} </sup></td>

    </tr>
    </tbody>
  </table>
  
</div>


</ion-content>
