<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>Transactions</ion-title>
    <div class="header-icons">
      <ion-icon name="filter" ></ion-icon>
      <ion-icon name="document" ></ion-icon>
      <ion-icon name="notifications" ></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-searchbar></ion-searchbar>
<ion-card color="grey">
  <ion-card-header>
    <ion-card-title>£67,887.09</ion-card-title>
    <ion-card-subtitle>13412738-0001</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    
  </ion-card-content>
  </ion-card>
  
<div class="ion-padding">
    <table class="transaction-table">
<thead>
  <tr>
    <th colspan="3">
    <ion-list style="float:right">
        <ion-item>
          <ion-select aria-label="fruit" placeholder="Sort by">
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </th>
  </tr>
</thead>
<tbody>
  
  <tr *ngFor="let item of results">
    <td><sup> - </sup></td>
    <td><sup class="big">{{item.asset}}</sup><sup class="small">{{item.createdon}}</sup></td>
    <td><sup class="small">{{item.TennantID}} | {{item.amount}}</sup><sup class="big">{{item.productType}}</sup></td>
  </tr>
</tbody>

    </table>
</div>
    
  
</ion-content>
