/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.legends{
  padding: 0 12px;
  ion-chip{
    width: 50%;
    display: inline-block;
    margin: 0;
    background: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.transaction-table{
  width:100%;
sup{display:block; line-height:1;padding:2px 8px; top:0; }
td{display:inline-block; padding:10px 0;  height:40px;background-color: #dadada; padding:10px 0; margin-bottom:4px;box-sizing: content-box; vertical-align: middle;}
td:last-child{
  text-align: right;
  width:20%;
  border-top-right-radius: 4px;
  border-bottom-right-radius:4px;
  
}
td:first-child{
  width:5%;
  border-top-left-radius: 4px;
  border-bottom-left-radius:4px;
}
td:nth-child(2){
  width:75%;
}
sup.big{font-size:1rem;}
sup.small{font-size:0.8rem; color:#9d9fa6}

}
.header-icons{
float:right;
ion-icon{
  padding:0 4px;
}

}
 /* Card 
 ion-card {
  --background:#c9ffbc;
  --color: #003a05;
}

ion-card-title {
  --color: #003a05;
}

ion-card-subtitle {
  --color: #003a05;
}

/*Chip
ion-chip {
  --background: #ffffff;
  --color: #003a05;
}*/