<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>Settings</ion-title>
    <div class="header-icons">
      <ion-icon name="filter" ></ion-icon>
      <ion-icon name="document" ></ion-icon>
      <ion-icon name="notifications" ></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar></ion-searchbar>
  

  <ion-list class="setting-buttons">
    <ion-item>
      <ion-button>
        <ion-icon slot="start" name="person-circle"></ion-icon>
        <span>Account</span>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button>
        <ion-icon slot="start" name="notifications"></ion-icon>
        <span>Notifications</span>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button>
        <ion-icon slot="start" name="eye"></ion-icon>
        <span>Appearance</span>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button>
        <ion-icon slot="start" name="lock-closed"></ion-icon>
        <span>Privacy &amp; Security</span>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button>
        <ion-icon slot="start" name="chatbox-ellipses"></ion-icon>
        <span>Help &amp; Support</span>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="onLogout()">
        <ion-icon slot="start" name="exit"></ion-icon>
        <span>Logout</span>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
